 <div class="jumbotron jumbotron-fluid" style="background-color: #3383FF">
      <div class="container">
        <h1 class="display-4" style="color: white">Enter in the fields...</h1>
        <p class="lead" style="font-family: Helvetica">Fill out the description of the partner you're looking for:</p>
      </div>
    </div>


    <!-- <div class="d-flex justify-content-center"> -->
      <div class="container" style="margin-bottom: 100px">
      <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline1">Male</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline2">Female</label>
    </div>
    <form action="/" method="post">
      <div class="form-group col-md-6" width="600">
        <h2><label for="exampleFormControlInput1">Age</label></h2>
        <input name="age" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="age" width="300">
        <h2><label for="exampleFormControlInput1">Ethnicity</label></h2>
       <select name="ethnicity" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="caucasian, hispanic, African-American, etc.">
        <option>Caucasian</option>
        <option>African American</option>
        <option>Hispanic</option>
        <option>Asian</option>
        <option>Pacific Islander</option>
        <option>Middle Eastern</option>
        <option>Indian</option>
        <option>Native American</option>
        <option>Mixed</option>
        <option>Other</option>
      </select>
    <h2><label for="exampleFormControlInput1">height</label></h2>
    <select name="height" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="in ft.">
      <option>4' 10</option>
      <option>4' 11</option>
      <option>5' 0</option>
      <option>5' 1</option>
      <option>5' 2</option>
      <option>5' 3</option>
      <option>5' 4</option>
      <option>5' 5</option>
      <option>5' 6</option>
      <option>5' 7</option>
      <option>5' 8</option>
      <option>5' 9</option>
      <option>5' 10</option>
      <option>5' 11</option>
      <option>6' 0</option>
      <option>6' 1</option>
      <option>6' 2</option>
      <option>6' 3</option>
      <option>6' 4</option>
      <option>6' 5</option>
      <option>6' 6</option>
    </select>
    <h2><label for="exampleFormControlInput1">body type</label></h2>
    <select name="body_type" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Athletic, body-builder, skinny, etc.">
      <option>Athletic body type</option>
      <option>Skinny body type</option>
      <option>A Few Extra Pounds body type</option>
      <option>Average body type</option>
      <option>Prefer Not To Say body type</option>
      <option>Thin body type</option>
    </select>
    <h2><label for="exampleFormControlInput1">Interests</label></h2>
    <input name="interests" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="List interests separated by commas" width="300">
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block"><h2>Find Match!</h2></button>

    </form>
  </div>
