 <div class="shadow p-3 mb-5 bg-white rounded">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color: white">Random matcher</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </nav>
</div>

<div class="jumbotron jumbotron-fluid" style="background-color: #3383FF">
  <div class="container">
    <h1 class="display-4" style="text-align: center; font-family: 'Brush Script MT', cursive; font-style: normal;">Random Matcher</h1>
    <h3 class="display-4" style="text-align: center; font-family: 'Brush Script MT', cursive; font-style: normal;">"Find your other half"</h3>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.05)), url('<%= image_path 'love.jpg' %>');">
</div>

<div class="jumbotron jumbotron-fluid" style="background-color: #3383FF">
  <div class="container">
    <h1 class="display-4" style="color: white">Enter in the fields...</h1>
    <p class="lead" style="font-family: Helvetica">Fill out the description of the partner you're looking for:</p>
  </div>
</div>
<div class="container">
  <%= link_to profiles_url, method: :get do %>
    <button type="submit" class="btn btn-primary btn-lg btn-block"><h2>Get Started!</h2></button>
  <% end %>
</div>
</div>
