.banner {
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 0;
  margin-bottom: 10px;
}
